.notes {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}

.notes__head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.notes__title {
  font-size: 32px;
  font-weight: bold;
}

.notes__head-button {
  display: flex;
}

.notes__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.notes__item {
  position: relative;

  width: 25%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid black;
}

.notes__item-button {
  position: absolute;
  right: -1px;
  top: -1px;
}

.notes__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.notes__form-textarea {
  width: 25%;
  height: 100px;
  box-sizing: border-box;
  padding: 5px;
}
